APP_DISPLAY_NAME = iAPS
APP_VERSION = 8.0.4
APP_BUILD_NUMBER = 10
COPYRIGHT_NOTICE =
DEVELOPER_TEAM = 9B75PM7469
BUNDLE_IDENTIFIER = com.brunafornazza.iaps
APP_GROUP_ID = group.com.brunafornazza.iaps

//Default App Icon, displayed at first installation.
APP_ICON = appIcon1

// Require authentication when bolusing.
AUTHENTICATE = true

// iAPS URL in other apps
APP_URL_SCHEME = freeaps-x

// Include file for overriding configuration
#include? "ConfigOverride.xcconfig"
//#include? "../../ConfigOverride.xcconfig"
